<template>
	<require from="../value-converters/index"></require>

	<h1>Mining Rigs</h1>

	<p>This component demonstrates fetching data from the server.</p>

	<p if.bind="!gpus"><em>Loading...</em></p>

	<div class="panel panel-default" repeat.for="rig of rigs">
		<div class="panel-heading">${ rig.name }</div>

		<table if.bind="gpus" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Temp. (C)</th>
					<th>Miner</th>
					<th>Enabled</th>
				</tr>
			</thead>
			<tbody>
				<tr repeat.for="gpu of gpus | rigFilter: rig">
					<td>${ gpu.id }</td>
					<td>${ gpu.name }</td>
					<td>${ gpu.temperature }</td>
					<td>
						<select id="miner" value.bind="gpu.minerName" change.delegate="changeMiner(gpu)">
							<option repeat.for="miner of miners" model.bind="miner.name">${miner.name}</option>
						</select>
					</td>
					<td>
						<button if.bind="!gpu.isEnabled" click.delegate="enable(gpu)">Enable</button>
						<button if.bind="gpu.isEnabled" click.delegate="disable(gpu)">Disable</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
